/*@media screen and (max-width: 640px){
	container{
		width: 100%;
	}
}*/

panel{
	width: 100%;
}

.jumbotron{
	background-color: #5cb85c;
	/* Find light color of success panel */
	color: #eeeecc;
	padding-top: 1%;
	padding-bottom: 2%;
}

.panel-heading{
	padding-top: 0.25%;
}
